<h3>Today weather</h3>
<div style="{ http//openweathermap.org/img/wn{{city_weather.icon}}.png }"/>
<div>
   city: {{city_weather.city}}<br>
   temperature:{{ciyt_weather.temperature}}<br>
   description:{{city_weather.description}}<br>
   weather:{{city_weather.weather}}<br>
   country:{{city_weather.country}}<br>
   sunrise:{{city_weather.sunrise}}<br>
   sunset:{{city_weather.sunset}}<br>
   view:{{city_weather.name}}<br>
   wind:{{city_weather.wind}}<br>
   clouds:{{city_weather.clouds}}<br>
   humidity:{{city_weather.humidity}}<br>
   id:{{city_weather.id}}<br>
   icon:{{city_weather.icon}}<br>
</div>